body { padding: 0; margin: 0; font-family: arial, sans-serif, helvetica; color: #29606F }
html, body { height: 100vh; width: 100vw; }
#map { width: 100% }
.places { width: 100%; font-size: 0.9em; padding-top: 2px; padding-bottom: 2px; border-bottom: thin solid #29606F; }
.popup-title { font-size: 1.2em; font-weight: bold; width: 100%; text-align: center }
.popup-main a { text-decoration: none; font-weight: bold;  }

.map-menu-main-row {
	display: table;
	width: 100%;
}
.map-menu-main-cell {
	display: table-cell;
	width: 25%;
	background-color: white;
	text-align: center;
	padding: 10px;
}
.map-menu-main-cell path { fill: #29606F; }
.visible { background-color: #29606F; }
.visible path { fill: white; }
